.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  align-items: center; /* Center align the content vertically */
  text-align: center; /* Center align the content horizontally */

  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#drum-machine h1 {
  color: #fff;
  margin: 0; /* Remove default margin for <h1> */
}
#display {
  background-color: #444;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.drum-pad {
  color: #fff;
  border: 2px solid #555;
  border-radius: 5px;
  background-color: #666;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.drum-pad:hover {
  background-color: #777;
  transform: scale(1.05);
}

.clip {
  display: none;
}

.drum-pad.active {
  background-color: #ff5722; /* Change the color when a pad is active */
  transform: scale(1.05);
}
